.month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -15px;
}

.del-btn {
  color: gray;
  background: transparent;
}

ul {
  list-style: none;
  padding: 10px;
  background-color: #eee;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 6px #eee;
  padding: 0px 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.dummy {
  text-align: center;
  font-size: 20px;
  background-color: #eee;
  padding: 10px;
}
